@model List<WorkListDto>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo App</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container my-2">
        <table class="table table-hover table-bordered table-sm">

            <div class="text-end my-2">
                <a asp-action="Create" asp-controller="Home" class="btn btn-primary btn-sm">Yeni İş ekle</a>
            </div>

            <thead>
                <tr>
                    <th>İş</th>
                    <th>Durum</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Definition</td>
                        <td>
                            @Html.Raw(item.IsCompleted
                                     ? "<span class=\"badge bg-success\">Tamamlandı</span>"
                                     : "<span class=\"badge bg-danger\">Bekleniyor...</span>")
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-warning">Güncelle</a>
                            <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                        </td>

                        
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>